$dark-gray: #282c34;
$element-width: 216px;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

main {
  margin: auto;
}

.inputbox-container {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

  input {
    border: none;
    border-bottom: 1px solid $dark-gray;
    margin-left: 12px;
    width: $element-width;

    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    color: $dark-gray;

    &::placeholder {
      font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
      color: $dark-gray;
    }
  }
}

.displaybox-container {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  color: $dark-gray;
  max-width: calc(#{$element-width} * 1.42);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}